In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1 = pd.read_csv("train.csv", delimiter=',')

In [4]:
df1

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
#Preparação dos dados: Comece preparando sua base de dados, garantindo que ela esteja limpa, sem dados ausentes ou
# inconsistentes. Além disso, certifique-se de ter uma medida de lucro associada a cada cliente.

#Fazer tratamento usado para XGBoost
df1 = df1.astype('int')
df1 = df1.fillna(-1)
df1

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,39205,0
1,3,2,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,49278,0
2,4,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,67333,0
3,8,2,37,0,195,195,0,0,0,0,...,0,0,0,0,0,0,0,0,64007,0
4,10,2,39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,117310,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,60926,0
76016,151830,2,39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,118634,0
76017,151835,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,74028,0
76018,151836,2,25,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,84278,0
76019,151838,2,46,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,117310,0

In [ ]:
#Seleção de atributos: Escolha os atributos relevantes para a análise de lucratividade dos clientes. Isso pode incluir dados
# demográficos, histórico de compras, tempo de permanência como cliente, etc. Certifique-se de normalizar os dados,
# para que atributos com diferentes escalas não dominem o processo de clustering.

#Utilizar as variáveis selecionadas para o XGBoost
#Normalizar as variáveis

In [ ]:
#Definição do número de clusters (K): Determine o número ideal de clusters que você deseja criar. Isso pode ser feito
# visualmente, analisando a dispersão dos pontos em um gráfico de inércia (soma das distâncias ao quadrado entre cada ponto e
# o centróide do cluster) em relação ao número de clusters. Selecione o valor de K onde a melhoria na inércia começa a diminuir
# significativamente.

In [ ]:
#Execução do algoritmo K-means: Aplique o algoritmo K-means aos seus dados, fornecendo o número de clusters (K) determinado
# anteriormente. O algoritmo atribuirá cada cliente a um cluster com base em sua similaridade com outros clientes.

In [ ]:
#Análise dos clusters: Após a execução do algoritmo, analise os resultados para entender as características dos clusters
# formados. Identifique os clusters que geram os maiores lucros médios e examine as características comuns dos clientes nesses
# clusters. Isso pode incluir a análise de atributos demográficos, padrões de compra, comportamentos de engajamento, etc.

In [ ]:
#Validação dos resultados: Avalie a eficácia dos clusters formados. Você pode fazer isso realizando análises estatísticas, como
# análise de variância (ANOVA), para determinar se há diferenças significativas nos lucros médios entre os clusters. Além
# disso, pode ser útil realizar análises posteriores para validar as descobertas e fazer ajustes no modelo, se necessário.